div[id="Primo div"]{
font-weight: bold;
font-size: 40px;
text-align: center; /* orizzontale */
vertical-align: middle;
background-color: orange;
border: 1px solid;

}

div[id="TerzoDiv"]
{
    background-color: gray;
    height: 50px;
    border: 1px solid;
    line-height: 50px;
}
a
{
    text-decoration: underline;
}
img[id="img1"]{
    
    width: 100px;
    height:100px;
    vertical-align: middle;
    
}
div[id="Quartodiv"]{
    border: solid 1px;
    border-bottom: none;


}
img{
    width: 200px;
    height: 200px;
    
}
/* li {
    display: inline-block;
    margin-right:10px;
  } */
  #Quartodiv div{
      display: inline-block;
  }
  footer{
      text-align: center;
      background-color: gray;
      border: 1px;


  }
  
    #griglia > li {
       
        display: inline-block;
        width: 160px;
        height: 160px;
        margin: 10px;
        
        
        }
        #container {
          
            max-width:850px;
            margin:0 auto;
            padding: 20px;
            
            }
 
  